<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
    <title>Amila Alexander Projects</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
      .mySlides {display:none;}
 
      </style>

    <link rel="icon" href= "../static/images/salvador logo/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/css/projects.css">


  </head>
  <body>

    <section>
      <header>
        <!-- fixed-top makes the navbar stick to the top of the screen as the user is scrolling -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- ml-auto makes content of navbar to the left, but not the logo -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="experiences.html">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="designs.html">Designs</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </section>

  <main>
    <!-- *************************************
      Jumbotron Section
    -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1>Amila Alexander</h1>
        <h3><em>The Projects in 2017</em></h3>
      </div>
    </div>


    <!-- *************************************
      2017 Projects Section
    -->
    <div class="section">
      <div class="container">
        <h2>2019 Projects</h2>

        <!-- *************************************
          Buttons Section
        -->
        <div class="github-btn">
          <h3>Find more projects on my GitHub Page!</h3>
          <a class="btn btn-primary"  href="https://github.com/salvillalon45" role="button">Find more on GitHub</a>
        </div>

        <!-- ********************************** -->
        <!-- Personal Website Version 1 -->
        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <p class="project-title"><em>OpenCV Computer Vision Based Robot w/ Wireless Control</em></p>
              <p> November 2019 </p>
              <p>Project involving a robot which has the multiple capabilities of being manually controlled remotely, autonomous line following and color detection based parking.</p>
              <ul>
                <li><a  href="https://github.com/salvillalon45/salvadorvillalon">GitHub Repository</a></li>
                <li> | </li>
                <li><a  href="http://salvador-villalon.appspot.com/">Site</a></li>
              </ul>
              <p><strong>Technologies Used:</strong> HTML, CSS, Bootstrap, Git, Flask, Google App Engine</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <div class="w3-content w3-display-container">

              <div class="w3-display-container mySlides">
                <img src="../static/2019/3A/robot+.png" style="width:100%;height: 90%;">
                <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                  Final Design
                </div>
              </div>
              
              <div class="w3-display-container mySlides">
                <img src="../static/2019/3A/camera_design.png" style="width:100%;height: auto;">
                <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                  Camera
                </div>
              </div>
              
              <div class="w3-display-container mySlides">
                <img src="../static/2019/3A/color_detection2.png" style="width:100%;height: 90%;">
                <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                  Color Detection | OpenCV
                </div>
              </div>
              
              <div class="w3-display-container mySlides">
                <img src="../static/2019/3A/color_detection.png" style="width:100%;">
                <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                  Object center of Mass Detection 
                </div>
              </div>
              
    
              
              <button class="w3-button w3-display-left w3-black" onclick="plusSlides(-1, 0)">&#10094;</button>
              <button class="w3-button w3-display-right w3-black" onclick="plusSlides(1, 0)">&#10095;</button>
              
              </div>
          </div>
        </div>

        <div class="row recent-proj" style="margin: 5rem 0; display: flexbox; align-items: baseline;">

          <div class="col-md-6">

            <div class="w3-display-container">
              <img src="../static/2019/3A/intial_concept.jpeg" style="width:100%;height: 90%;">
              <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                Initial Concept Design
              </div>
            </div>
            <p style="margin:1rem 0"> After multiple iterations of the design it was decided to use a 
              two powered wheel one castor approach instead of the 4 wheel design. The 4 wheel design 
              presented challenges like increased turning radius and almost 2x the cost for motors. In the
              final design steering is achieved by differentials.
            </p>
           
           


          </div>

          <div class="col-md-6">

            <div class="w3-display-container">
              <img src="../static/2019/3A/app.png" style="width:100%;height: 90%;">
              <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                Android App Control Model
              </div>

              
            </div>

            <p style="margin:1rem 0"> For manually controlling the robot an Android app was written which
              was capable of communicating with the robot via Bluetooth. This signal was passed onto the 
              Arduino which governs the speed of each motor. A simple PD control model was sufficient for 
              this task.
            </p>

          </div>
          



        </div>

       
<hr>

<div class="text-center" style="margin:5rem 0">
<h1>Video Demo of Remote Control and Path Following</h1>
</div>

          <div class="text-center" style="margin:5rem 0">
            <iframe style="height: 80vh; width: 90%" 
            src="https://www.youtube.com/embed/uxlfLOLOmDk">
            </iframe>
          </div>



          <hr>






        <div class="row recent-proj">
          <div class="col-md-6">
            <div class="project-description">
              <p class="project-title"><em>'Battleship' Game on Embedded Controllers</em></p>
              <p> December 2019 </p>
              <p>Using concepts such as state machines, debouncing and EEPROM permanance the game 'Battleship' was designed on a 
               ATMEGA 128 MCU. Several buttons and a mini LED array were used to depict the positions of the ships ease navigation. Additionally 
               multiplayer mode was also enabled by interconnected RX - TX lines of two MCUs for true 'Battleship' experience.
              </p>
              <ul>
                <li><a  href="https://github.com/salvillalon45/salvadorvillalon">GitHub Repository</a></li>
                <li> | </li>
                <li><a  href="http://salvador-villalon.appspot.com/">Site</a></li>
              </ul>
              <p><strong>Technologies Used:</strong> HTML, CSS, Bootstrap, Git, Flask, Google App Engine</p>
            </div>
          </div>

          <div class="col-md-6 pics">
            <div class="w3-content w3-display-container">

              <div class="w3-display-container mySlides2">
                <img src="../static/2019/embed/battleship.jpg" style="width:100%;height: 90%;">
                <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                  8x8 LED Array + 16x2 Display
                </div>
              </div>
              
              <div class="w3-display-container mySlides2">
                <img src="../static/2019/embed/battleship2.jpg" style="width:100%;height: 90%;">
                <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                  Control Buttons
                </div>
              </div>

              <div class="w3-display-container mySlides2">
                <img src="../static/2019/embed/eeprom.jpg" style="width:100%;height: 90%;">
                <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                  EEPROM Flash
                </div>
              </div>
              
    
              
    
              
              <button class="w3-button w3-display-left w3-black" onclick="plusSlides(-1, 1)">&#10094;</button>
              <button class="w3-button w3-display-right w3-black" onclick="plusSlides(1, 1)">&#10095;</button>
              
              </div>
          </div>
        </div>

        <hr>

<div class="text-center" style="margin:5rem 0">
<h1>Video Demo of Battleship</h1>
</div>

          <div class="text-center" style="margin:5rem 0">
            <iframe style="height: 80vh; width: 90%" 
            src="https://www.youtube.com/embed/pYaZ5H9MiE0">
            </iframe>

            <p class="text-center" style="width: 80%; margin: 2rem auto;">Demo shows how a map can be uploaded to the ATMEGA MCU from the PC via a UART interface. The map is 
              transmitted one byte at a time to the MCU via the TX/RX pins. Hardward interrupts are used to properly
              read the incoming signal. Once all 64 bytes (8x8 map) have been read the MCU saves this data to it's internal 
              EEPROM. The game can then be played as usual using the buttons. Stats and other info are displayed on the 
              16x2 LCD panel.
            </p>

          </div>

         

          <hr>
        

    </div>
  </div>


<div class="row text-center" style="display: flex; justify-content: space-around; flex-direction: row;">

  <div class="col-md-3">

    <div class="w3-display-container">
      <h4 style="margin:2rem 0">'Myndful' Meditation App</h4> 

      <video width="90%" height="auto" autoplay loop> 
        <source src="../static/2019/android/myndful/VID-20191105-WA0028.mp4" type="video/mp4">
        
      </video>
      <!-- <img src="../static/2019/android/myndful/VID-20191105-WA0028.mp4" style="width:100%;height: 90%;"> -->
      <!-- <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"> -->
      </div>

      <p style="margin:1rem 0;  text-align: justify;"> This app was designed to help a user time their meditation sessions. It also displays 
        the users progress by calculating the total time they meditated every day/week/month. Enabled using Java on Android 
        & managed with Room DB Management
      </p>

    </div>


    <div class="col-md-3">

      <div class="w3-display-container">
        <h4 style="margin:2rem 0">'Cleanup' App</h4> 
  
        <div  style="width:100%;" >

          <div class="w3-display-container mySlides3">
            <img src="../static/2019/android/cleanup/cleanup_1.jpg" style="object-fit: contain; width: 300px; height: 600px;" >
            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
              8x8 LED Array + 16x2 Display
            </div>
          </div>
          
          <div class="w3-display-container mySlides3">
            <img src="../static/2019/android/cleanup/cleanup_2.jpg" style="object-fit: contain; max-width: 300px; max-height: 600px;">
            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
              Control Buttons
            </div>
          </div>

          <div class="w3-display-container mySlides3">
            <img src="../static/2019/android/cleanup/cleanup_3.jpg" style="object-fit: contain; max-width: 300px; max-height: 600px;">
            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
              EEPROM Flash
            </div>
          </div>
          
          <div class="w3-display-container mySlides3">
            <img src="../static/2019/android/cleanup/cleanup_4.jpg" style="object-fit: contain; max-width: 300px; max-height: 600px;">
            <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
              EEPROM Flash
            </div>
          </div>
          

          
          <button class="w3-button w3-display-left w3-black" onclick="plusSlides(-1, 2)">&#10094;</button>
          <button class="w3-button w3-display-right w3-black" onclick="plusSlides(1, 2)">&#10095;</button>
          
          </div>
      </div>
        <!-- <img src="../static/2019/android/myndful/VID-20191105-WA0028.mp4" style="width:100%;height: 90%;"> -->
        <!-- <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"> -->
          Initial Concept Design

          <p style="margin:1rem 0"> After multiple iterations of the design it was decided to use a 
            two powered wheel one castor approach instead of the 4 wheel design. The 4 wheel design 
            presented challenges like increased turning radius and almost 2x the cost for motors. In the
            final design steering is achieved by differentials.
          </p>
        </div>
  
   
  
     


      <div class="col-md-3">

        <div >
          <h4 style="margin:2rem 0">'Ride' App (Ride-Sharing)</h4> 
          <div style="width:100%;"  >

            <div class="w3-display-container mySlides4">
              <img src="../static/2019/android/ride/ride1.jpg" style="object-fit: fill; max-width: 300px; max-height: 600px;">
              <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                8x8 LED Array + 16x2 Display
              </div>
            </div>
            
            <div class="w3-display-container mySlides4">
              <img src="../static/2019/android/ride/ride2.jpg" style="object-fit: contain; max-width: 300px; max-height: 600px;">
              <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                Control Buttons
              </div>
            </div>
  
            <div class="w3-display-container mySlides4">
              <img src="../static/2019/android/ride/ride3.jpg" style="object-fit: contain; max-width: 300px; max-height: 600px;">
              <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                EEPROM Flash
              </div>
            </div>
            
            <div class="w3-display-container mySlides4">
              <img src="../static/2019/android/ride/ride4.jpg"  style="object-fit: contain; max-width: 300px; max-height: 600px;">
              <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                EEPROM Flash
              </div>
            </div>
            
  
            
            <button class="w3-button w3-display-left w3-black" onclick="plusSlides(-1, 3)">&#10094;</button>
            <button class="w3-button w3-display-right w3-black" onclick="plusSlides(1, 3)">&#10095;</button>
            
            </div>
        </div>
          <!-- <img src="../static/2019/android/myndful/VID-20191105-WA0028.mp4" style="width:100%;height: 90%;"> -->
          <!-- <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"> -->
            <p style="margin:1rem 0; width:100%"> After multiple iterations of the design it was decided to use a 
              two powered wheel one castor approach instead of the 4 wheel design. The 4 wheel design 
              presented challenges like increased turning radius and almost 2x the cost for motors. In the
              final design steering is achieved by differentials.
            </p>
          </div>
    
         
    
        </div>
   
   


  </div>
</div>


</main>



  <!-- *************************************
    Footer Section
  -->
  <footer class="footer">
    <p> Made by Amila Alexander </p>
    <ul>
      <a  href="https://medium.com/@salvav1"><li>Medium</li></a>
      <li> | </li>
      <a  href="https://github.com/salvillalon45"><li>GitHub</li></a>
      <li> | </li>
      <a  href="https://www.linkedin.com/in/salvadorvillalon/"><li>LinkedIn</li></a>
      <li> | </li>
      <a  href="../index.html"><li>personal website version 2</li></a>
      <li> | </li>
      <a  href="http://salvador-villalon.appspot.com/"><li>personal website version 1</li></a>
    </ul>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script>
 var slideIndex = [1,1,1,1];
/* Class the members of each slideshow group with different CSS classes */
var slideId = ["mySlides", "mySlides2", "mySlides3", "mySlides4"]
showSlides(1, 0);
showSlides(1, 1);
showSlides(1, 2);
showSlides(1, 3);


function plusSlides(n, no) {
  showSlides(slideIndex[no] += n, no);
}

function showSlides(n, no) {
  var i;
  var x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex[no]-1].style.display = "block";
}
    </script>





  </body>
</html>
